@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
* {
    margin: 0%;
    padding: 0%;
    font-family: 'Oswald', sans-serif;
    
}






.navegacion {
padding-bottom: 1px;
padding-top: 1px;
background-color: #D9D9D9;

ul li a {   
    list-style: none;
    color: #000;
    text-decoration: none;
    justify-items: center;
    align-items: center;
}
}


.pie {
    list-style: none;
    text-decoration: none;
    color: #000;
    background-color: #E5383B;
    padding: 30px;

}

.titulo-imagen {
    display: flex;
    width: 100%;
}

.titulo-fiat {
    display: grid;
    background-color: #E5383B;
    text-align: center;

}

header div img{
width: 80px;
height: 80px;

}







.titulo-usados {
    text-align: center;
    background-color: #E5383B;
}

.grid-usados {
display: grid;
grid-template-columns: 1fr 1fr;
grid-row:3fr 3fr 3fr;
align-items: center;
justify-content: center;
justify-items: center;
background-color: #000;
gap: 10px;

}

.descripcion-usados {
    display: inline-block;
    background-color: #D9D9D9;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    text-align: center;

a {
    list-style: none;
    text-decoration: none;
    color: #000;
}
}

.imagen-usados {
    display:inline-block;
    width: 100%;
    height: 100%;
}




 .datos {
    display: grid;
    align-items: center;
    margin-left: 400px;
    margin-right: 400px;
    background-color: #D9D9D9;
 }

 .ubicacion {

margin-bottom: 0px;
display: inline-block;
align-content: center;
background-color: #000;
padding-left: 39%;
padding-right: 38.3%;


 }

 .titulo-ubicacion {

    text-align: center;
    background-color: #D9D9D9;
 }

 .grid-index {

    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    justify-items: center;
    background-color: #E5383B;
 }

.nav-lateral { 
    display: grid;
    gap: 25px;
    list-style: none;
    color: #000;
    text-decoration: none;
    justify-items: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}


 .texto-nav-lateral {
    list-style: none;
    text-decoration: #000;    
    color: #000;


  a {
    list-style: none;
    color: #000;
    text-decoration:#000;
    justify-items: center;
    align-items: center;

 } 

}
 .grid-cabezera {

    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    justify-items: center;
    align-items: center;
    background-color:#E5383B;
 }

 .imagen-cabezera {
    
    width: 1fr;
    height: 1fr;
 }

 .grid-titulo {
    text-align: center;
    
 }

 .grid-navegacion {
    gap: 10px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr;
    list-style: none;
    background-color: #D9D9D9;
    justify-items: center;
    align-items: center;
    text-align: center;

 }

 .grid-nuevos-autos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;
    align-items:center ;
 }
 .img-motor {
    display: flex;
    width: 100%;
    height: 100%;
 }

 .grid-nuevos-autos-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    align-items:center ;
}

.grid-mapas {
    justify-items: center;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: #000;
}

.grid-contacto {
    display: grid;
    justify-items: center;
    background-color:#D9D9D9;
    grid-template-columns: 1fr;
}
/* From uiverse.io by @ferlagher */
.boton-barra {
    position: relative;
    font-size: 1.2em;
    padding: 0.7em 1.4em;
    background-color: #BF0426;
    text-decoration: none;
    border: none;
    border-radius: 0.5em;
    color: #DEDEDE;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
  }
  
  button::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 50%, rgba(150,4,31,1) 50%, rgba(191,4,38,1) 60%);
    border-radius: 0 0 0.5em 0;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
    transition: 0.3s;
  }
  
  .boton-barra:hover::before {
    width: 2em;
    height: 2em;
  }
  
  .boton-barra:active {
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
    transform: translate(0.1em, 0.1em);
  }
  /* From uiverse.io by @alexroumi */
.boton-lateral {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   .boton-lateral::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .boton-lateral:hover {
    color: #e8e8e8;
   }
   
   .boton-lateral:hover::before {
    width: 100%;
   }